.row
  .span12
    %table
      %thead
        %tr
          %th Time
          %th Monday
          %th Tuesday
          %th Wedensday
          %th Thursday
          %th Friday
          %th Saturday
          %th Sunday
      %tbody
        - @time = Time.now.beginning_of_day
        - 96.times do
          %tr{:id => @time.strftime("%H%M") }
            %td 
              = (@time += 15.minutes).strftime("%H:%M")
            %td.mon
            %td.tues
            %td.wed
            %td.thurs
            %td.fri
            %td.sat
            %td.sun
